#rotate-icon{
    background-color: yellow;
    border: 1px solid black;
    width: 30%;
    margin-top: 50px;
    margin-left: 50px;
   
   
}
#rotate-icon
{
  transition: transform 0.3s ease-out;
}
#rotate-link:hover #rotate-icon
{
  transform: rotate(180deg);
}

.square{
    margin-left: 59px;
    margin-top:10px;
    width: 150px;
    height: 150px;
    background-color: rgb(76, 230, 184);
    transform: rotate(90deg);
    animation: mymove 2s infinite;
}
@keyframes mymove {
    from {transform: rotate(0deg);}
    to {transform: rotate(180deg);}
}
.increase{
    margin-top:30px;
        width: 100px;
        height: 100px;
        background-color: rgb(63, 206, 160);
        transition: width 1s , height 1s;


}
.increase:hover{
    width: 200px;
    height: 200px;
}
.grey{
    filter:grayscale(100%);
}
.blur{
    padding:15px;
    filter: blur(5px);
}
.capcity{
    padding:15px;
    filter: opacity(30%);
}
.row{
    
    max-width: 800px;
    height: auto;
}
 h2{
   color:rgb(107, 210, 230);
    text-shadow: 2px 2px 4px;
}
.border{
    margin-top:10px;
    border: 1px solid grey;
    width:20%;
    margin-left: 30%;
}
.img{
    width: 100%;
    height: 200px;
}
p{
    text-align: center;
}
.container{
    display: flex;
    justify-content: space-evenly;
}
.row{
    border: 1px solid grey;
    width: 20%;
}
@media only screen and (max-width:800px){
    .row{
        width: 40%;
        margin: 20px 10px;
    }
    .container{
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width:300px){
    .row{
        width: 90%;
        margin: 20px 10px;
    }
    .container{
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
    }
}
